@model Category

<form method="post">

    <div class="border p-3 mt-4">
        <div class="row pb-3">
            <h2 class="text primary">Delete Category</h2>
       
             </div>
            @* <div asp-validation-summary=All></div>*@
             <div class="row mb-3">

                 <input type="hidden" asp-for="ID" />
                 <lable asp-for="Name"></lable>
                 <input disabled asp-for="Name" />
                 <span asp-validation-for="Name" class="text-danger"></span>
                 </div>

                 <div class="row mb-3">
                    <lable asp-for="DisplayOrder"></lable>
                 <input disabled asp-for="DisplayOrder" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                 </div>
       @* <div class="row mb-3">
            <lable asp-for="ID"></lable>

            <input asp-for="ID" />
        </div>

        <div class="row mb-3">
            <lable asp-for="Created_Date"></lable>
            <input asp-for="Created_Date" />
        </div>*@
                 <button class="btm btn-primary" type="submit">Delete</button>
             @*Day 2 keep Going bruh*@
     </div>
     <a asp-action="Index" asp-controller="category">Back</a>

</form>
@*Client Side Validation*@

       @section scripts{
           @{
               <partial name="_ValidationScriptsPartial"/>

           }
       }